$primary-color: #ff7700;
$secondary-color: #836656;

// mixin общих стилей
@mixin common {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;

  cursor: pointer;
}

// mixin цвета
@mixin color($color) {
  background-color: $color;
}

// mixin размера
@mixin size($pdtb, $pdlr, $gap, $fsize, $mwidth, $mheight) {
  padding: $pdtb $pdlr;
  gap: $gap;
  border-radius: $pdlr;
  font-size: $fsize;
  width: $mwidth;
  height: $mheight;
}

// mixin лоадинга
@mixin loading($width, $height) {
  width: $width;
  height: $height;
  object-fit: cover;
}

// размер 28
.size1 {
  @include size(5px, 10px, 4px, 13px, 116px, 28px);
  @include common();
  @include color($primary-color);
}

// размер 36
.size2 {
  @include size(8px, 12px, 6px, 15px, 138px, 36px);
  @include common();
  @include color($primary-color);
}

// размер 56
.size3 {
  @include size(16px, 16px, 8px, 17px, 163px, 56px);
  @include common();
  @include color($primary-color);
}

// размер 28
.loading1 {
  @include loading(16px, 16px);
}

// размер 36
.loading2 {
  @include loading(20px, 20px);
}

// размер 56
.loading3 {
  @include loading(24px, 24px);
}

button:focus {
  outline: 3px solid #0099ff;
  outline-offset: 2px;
}

button:hover {
  opacity: 0.88;
}

button:disabled {
  opacity: 0.36;
  cursor: no-drop;
}




