@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/static/Roboto_Condensed-Regular.ttf");
}

.title {
  font-family: Roboto;
  font-size: 40px;
  color: #ff7700;

  padding-bottom: 20px;
}

.model {
  animation: fade 5s ease forwards;

  height: 50px;
  color: #ff7700;

  font-size: 20px;

  position: absolute;

  padding: 10px;

  border: 2px solid #ff7700;
  background-color: #ffffff;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 589px;
  height: 633px;

  object-fit: cover;
}

.container {
  display: flex;
  gap: 30px;
  justify-content: center;

  padding-top: 20px;
}

@keyframes fade {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}
